* {
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: #444444;
    text-align: center;
    line-height: 1.0;
}

section {
    min-height: 200px;
    padding: 6% 0;
    background-color: rgb(241, 241, 241);
}

section:nth-child(even) {
    background-color: rgb(252, 252, 252);
}

header {
    padding: 12% 0;
}